// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

p {
	font-size: 1.2em;
}

.tutorial {
	padding: 20px;
}

.primary-gif {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin: 30px 10px 20px 0;
}