// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

* {
	font-family: 'Cabin', Sans-Serif;

}

#main {
	max-width: 100%;
}

h1, h2, h3, h4, h5{
	font-family: 'Roboto Condensed', Sans-Serif;
	font-weight: 700;
}

h1 {
	font-size: 4em;
}

h2 {
	border-bottom: 1px solid $aqua;
	margin-bottom: 25px;
	margin-top: 50px;
	font-size: 2.5em;
	border-left: 5px solid $aqua;
	padding-left: 20px;
}

p {
	font-size: 1.3em;
	font-family: 'Cabin', Sans-Serif;
}

.tutorial {
	padding: 20px;
}

.tutorial-nav a {
	margin-right: 5px;
	padding-right: 10px;
	border-right: 1px solid $primary;
}

.tutorial-nav a:last-of-type {
	border-right: 0;
}

.primary-gif {
	width: 50%;
	height: auto;
	margin: 30px 20px 20px 0;
	float:left;
}

.how-to {
	margin-top: 50px;
}

.btn-excel {
	margin: 20px auto;
	border-radius: 30px;
	padding: 15px;
	font-size: 1.2em;
	transition: all .3s ease;
}

.btn-excel:hover {
	background-color: $aqua;
	color: $primary;
	border: $aqua 1px solid;
}

.apple-specific {
	border: 1px solid $aqua;
	border-radius: 5px;
	padding: 20px;
	background-color: rgba($aqua,.1);
}

.syntax-box {
	font-size: 1.4em;
	background-color: $primary;
	color: #fff;
	padding: 10px 20px;
	display: block;
	border-radius: 5px;
}

.function-action {
	color: $gold;
	padding: 0 5px;
}

ul.downloads {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

li .btn-excel {
	margin: 5px 0;
	width: 400px;
	text-align: center;
}

//facet view

.facetwp-input-wrap {
	width: 100%;
}

.facetwp-template, .facetwp-facet input.facetwp-search, .facetwp-facet input.facetwp-location {
	width: 100%;
}

.facet-block {
	overflow: hidden;
	margin: 20px 20px 20px 0;
}

.facet-block h2:after {
  background-color: $primary;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.facet-block h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.facetwp-type-checkboxes {
	margin-left: 15px;
}

.card {
	border-radius: 0;
	height: 200px;
	border: 1px solid $primary;
	margin-bottom: 30px;
	transition: all .3s ease;
}

.card:hover {
	box-shadow: 7px 7px 0px $primary;
	// margin: -7px 0 -7px 0;
}

.card img {
	height: 120px;
	min-width: 100%;
	object-fit: cover;
  object-position: 50% 50%;
	border-bottom: 1px solid $primary;
}

.card a {
	font-size: 1.5vw;
	font-weight: 700;
	display: inline-block;
	width: 100%;
	line-height: 1.1em;
}

.facetwp-sort {
	width: 100%;
	margin: 0 15px 20px 0;
	text-align: right;
}


@include media-breakpoint-down(md) { 
	.primary-gif {
	width: 100%;
	height: auto;
	margin: 20px 0;	
	}

 }
