// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

* {
	font-family: 'Cabin', Sans-Serif;

}

#main {
	max-width: 100%;
}

#main-nav {
	border-bottom: 2px solid $aqua;
}

h1, h2, h3, h4, h5{
	font-family: 'Roboto Condensed', Sans-Serif;
	font-weight: 700;
}

h1 {
	font-size: 4em;
}

h2 {
	// border-bottom: 1px solid $aqua;
	margin-bottom: 25px;
	margin-top: 50px;
	font-size: 2.5em;
	// border-left: 5px solid $aqua;
	// padding-left: 20px;
	// display: inline-block;
	// box-shadow: 5px 5px $aqua;
	// padding: 10px 20px;
	// border: 1px solid $aqua;
	background-color: $white;
}

p, ul, ol {
	font-size: 1.3em;
	font-family: 'Cabin', Sans-Serif;
}

ul, ol {
	display: block;
	margin-left: 12px;
}

#happy-excel {
	position: absolute;
	height: 100px;
	width: 100px;
	left: 50%;
	right: 50%;
	top: 10px;
	background-image: url(../imgs/excel.svg);
	background-color: $white;
	border-radius: 50%;
	background-size: 80px 80px;
	background-position: center center;
	background-repeat: no-repeat;
	border: 2px solid $primary;
	box-shadow: 0px 2px $aqua;
}

.big {
	display: block;
	height: 75vh;
	background-color: red;
}

.tutorial {
	padding: 20px;
}

.tutorial-row {
	padding: 30px 10px;
	margin-top: 40px;
}

// .tutorial-row:nth-child(odd){
// 	background-color: rgba($aqua,.2);
// }

#functions, #uses {
	font-size: 2.8em;
	margin: 50px 0 0 10px ;
}


#tutorial-btn-expand-collapse {
	width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 5px;
    margin-bottom: 4px;
	margin-left: auto;
	display: block;
	border: 1px solid $aqua;
	transition: all .3s ease;
}

#tutorial-btn-expand-collapse:hover {
	background-color: $aqua;
}

#navbar-tutorial {

	position: fixed;
	// position: fixed;
	// left: 20px;
	// top: 100px;
	// width: 100%;
    // max-width: inherit;
    // display: inline-block;
	// z-index: 100;
	transition: all .3s ease;
}

#navbar-tutorial.collapsed {
	width: 50px;
	height: 50px;
	overflow: hidden;
	text-align: center;
	padding: 10px 0;
	transition: all .3s ease
}

#navbar-tutorial.collapsed #tutorial-btn-expand-collapse {
	margin: 0 auto;
}

#navbar-tutorial.collapsed ul{
	display: none;
}

#navbar-tutorial.collapsed li {
	display: none;
}

#navbar-tutorial ul.nav {
	display: block;	
	margin-left: 0;
	width: 100%;
}

#navbar-tutorial .nav ul.secondary {
	margin-left: 10px;
}

#navbar-tutorial li {
	line-height: 1.2;
	border-bottom: 1px solid $aqua;
	font-size: 14pt;
}

#navbar-tutorial.primary li:last-of-type{
	border-bottom: none;
}

#navbar-tutorial .nav-link {
	border-radius: 0;
	transition: all .3s ease;
}

#navbar-tutorial .nav-link:hover {
	margin-left: 7px;
}


.tutorial-nav-btn {
	background: #54b3a4;
    color: #ffffff;
    border-color: #54b3a4;
    display: inline-block;
    padding: 7px 25px;
    margin: 0 0 15px 0;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
    height: auto;
	display: inline-block;
}

.tutorial-nav {
	position: fixed;
	top: 150px;
	left: 20px;
}

.primary-gif {
	width: 50%;
	height: auto;
	margin: 30px 20px 20px 0;
	float:left;
}

.generic-gif {
	width: 100%;
	height: auto;
	margin: 30px auto;
	display: block;
	border: 5px solid #fff;
    outline: 2px solid $aqua;
}

.how-to {
	margin-top: 50px;
}

.btn-excel {
	border-radius: 30px;
	padding: 15px;
	font-size: 1.2em;
	transition: all .3s ease;
	display: block;
    margin: 40px auto;
    max-width: 300px;
}

.btn-excel:hover {
	background-color: $aqua;
	color: $white;
	border: $aqua 1px solid;
}

.apple-specific {
	border: 1px solid $aqua;
	border-radius: 5px;
	padding: 20px;
	background-color: rgba($aqua,.1);
}

.syntax-box {
	font-size: 1.4em;
	background-color: $primary;
	color: #fff;
	padding: 10px 20px;
	display: block;
	border-radius: 5px;
}

.function-action {
	color: $gold;
	padding: 0 5px;
}

ul.downloads {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

li .btn-excel {
	margin: 5px 0;
	width: 400px;
	text-align: center;
}

//facet view

.facetwp-input-wrap {
	width: 100%;
}

.facetwp-template, .facetwp-facet input.facetwp-search, .facetwp-facet input.facetwp-location {
	width: 100%;
}

.facet-block {
	margin: 20px 20px 20px 0;
}

.facet-block h2 {
	display: block;
}

.facet-block .facetwp-facet input.facetwp-search, .facet-block .facetwp-facet input.facetwp-location {
	min-width: 100%;
}
// .facet-block h2:after {
//   background-color: $primary;
//   content: "";
//   display: inline-block;
//   height: 2px;
//   position: relative;
//   vertical-align: middle;
//   width: 100%;
// }

// .facet-block h2:after {
//   left: 0.5em;
//   margin-right: -50%;
// }

.facetwp-type-checkboxes {
	margin-left: 15px;
}

.card {
	border-radius: 0;
	height: 200px;
	border: 1px solid $primary;
	margin-bottom: 30px;
	transition: all .3s ease;
}

.card:hover {
	box-shadow: 7px 7px 0px $primary;
	// margin: -7px 0 -7px 0;
}

.card img {
	height: 120px;
	min-width: 100%;
	object-fit: cover;
  object-position: 50% 50%;
	border-bottom: 1px solid $primary;
}

.card a {
	font-size: 1.1vw;
	font-weight: 700;
	display: inline-block;
	width: 100%;
	line-height: 1.1em;
}

.facetwp-sort {
	width: 100%;
	margin: 0 15px 20px 0;
	text-align: right;
}

.offset-md-2 p {
	margin-left: 20px;
}

.post-navigation {
	margin-top: 80px;
}

.previous-btn, .next-btn {
	background-size: 10px;
	background-repeat: no-repeat;
	width: 200px;
	text-align: center;
	transition: all .6s ease;
}

.previous-btn{
	background-image: url(../imgs/arrow-left.svg);	
	background-position: left 20px center;
}

.next-btn{
	background-image: url(../imgs/arrow-right.svg);	
	background-position: right 20px center;
}

.previous-btn:hover {
	text-decoration: none;
	background-position: left 15px center;
}

.next-btn:hover{
	text-decoration: none;
	background-position: right 15px center;
}

@include media-breakpoint-down(sm) { 
	.primary-gif {
	width: 100%;
	height: auto;
	margin: 20px 0;	
	}
	#navbar-tutorial {
		position: relative;
		left: auto;
		top: auto;
	}
	.card a {
		font-size: 5vw;
	}
	.offset-md-2 p {
		margin-left: 0;
	}
 }
